<p>lecture works!</p>



<!--((((string interbolation)))) one way From back To Front FOR The Sesting -->
<!--Ty : Variable {{}} in the html i will see the output -->
{{name}}
{{number}}

<!--((((Proparty Binding)))) From HTML examople ====>>> src(img) set the proparty in [] and get the variable from  -->
<img [src]="urlImg" width="100px" height="100px" />
<img src="{{urlImg}}" width="100px" height="100px" />



<!--((((Event Binding )))) Format To Write The Function in Angular-->
<button (click)="onchangeHadeel()">Change</button>



<!--Tow Way Binding the Change Will Run in Tow way-->
<!-- Should Set This in app.module.ts ((FormsModule)) To identifies Tow way Binding-->
<input type="number" value="{{number}}" [(ngModel)]="number" />


<hr />
<h1 [ngStyle]="{'backgroundColor': userobj.color}">{{userobj.name}}</h1>

<hr />
<h2 [ngStyle]="{'color': userobj.color}">{{userobj.name}}</h2>
<hr />

<div *ngFor="let item of usersArray" [ngClass]="{'greenColor': item.age > 15, 'redColor': item.age <= 15}">
  <p>{{item.name}}</p>
  <p>{{item.age}}</p>
  <h1>{{item.age | currency}}</h1>

  <p>{{item.food}}</p>
</div>


<h1>{{'ayah' | uppercase}}</h1>
<h1>{{'AYAH' | lowercase}}</h1>
<h1>{{10 | currency}}</h1>
<h1>{{50 | currency:'JOD ':'symbol'}}</h1>
<h1>{{ 20 | currency:'JOD':'code' }}</h1>
<h1>{{today | date:'h:mm a z'}}</h1>
<h1>{{today | date:'fullDate'}}</h1>
<h1>{{ today | date:"MMM dd, yyyy 'at' hh:mm a" }}</h1>


<div>
  <p>{{ str }}[0:4]: '{{ str | slice: 0 : 4 }}' - output is expected to be 'abcd'</p>
  <p>{{ str }}[4:0]: '{{ str | slice: 4 : 0 }}' - output is expected to be ''</p>
  <p>{{ str }}[-4]: '{{ str | slice: -4 }}' - output is expected to be 'ghij'</p>
  <p>{{ str }}[-4:-2]: '{{ str | slice: -4 : -2 }}' - output is expected to be 'gh'</p>
  <p>{{ str }}[-100]: '{{ str | slice: -100 }}' - output is expected to be 'abcdefghij'</p>
  <p>{{ str }}[100]: '{{ str | slice: 100 }}' - output is expected to be ''</p>
</div>
